{
    "do_api_token": "650a4338a025ef78ac28e1853a78ffbeea50a7b2",
    "do_base_image": "centos-7-x64",
    "do_datacenter": "ams3",
    "do_domain": "workshop.example.com",
    "do_ssh_key": "8096521",
    "do_jenkins_droplet_version": "1.0.7",
    "do_traefik_droplet_version": "1.0.1",
    "github_usernames": [
        'user1',
        'user2',
        'user3',
        'user4',
        'user5'
    ]
}
